spring.application.name=server

# MySQL Database Connection
spring.datasource.url=jdbc:mysql://localhost:3306/classlink_db
spring.datasource.username=your_user
spring.datasource.password=yourpass

spring.jpa.hibernate.ddl-auto=update